<ul>
<% if @tweets.any? %>
<% @tweets.each do |tweet| %>

  <br><%= image_tag tweet.user.avatar.url, :size => "50x50" if tweet.user %> <br>
  <div id='username'><%= tweet.user.email if tweet.user %></div>
  <div id='tweet'><br><%= tweet.message %><br></div>
  posted at <%= tweet.created_at.strftime("%H:%M %d %b")%>
<% if current_user && tweet.user_id == current_user.id %>
  <br><%= link_to "delete tweet", tweet_path(tweet), method: 'delete' %><br>
  <% else %>
  <br><br>
<% end %>
<% end %>
</ul>
<% end %>
