
<h1>My Tweets</h1>

<% if current_user %>
    <%= form_for Tweet.new do |f| %>
     <div class="form-group">
      <%= f.label :message %>
      <%= f.text_field :message, placeholder:"what needs doing?" %>
     <%= f.submit %>
    </div>
  <% end %>
<% end %>

<ul>

  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.message %><br><br>

          <% if current_user && tweet.user_id == current_user.id %>
          <%= link_to "delete tweet", tweet_path(tweet), method: 'delete' %>
          <% end %>
      </li>
    <% end %>
</ul>
  <% end %>
