
<h1>Here's what's happening!</h1>

<% if current_user %>
    <%= form_for Tweet.new do |f| %>
     <div class="form-group">
      <%= f.label :message %>
      <%= f.text_field :message, placeholder:"what needs doing?" %>
     <%= f.submit %>
    </div>
  <% end %>
<% end %>

<ul>

  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
      <br><%= tweet.user.email if tweet.user %><br>
      <%= tweet.message %>
      posted at <%= tweet.created_at.strftime("%H:%M %d %b")%>
    <% if current_user && tweet.user_id == current_user.id %>
      <br><%= link_to "delete tweet", tweet_path(tweet), method: 'delete' %><br>
      <% else %>
      <br><br>
    <% end %>
    <% end %>
</ul>
  <% end %>
