
<h1>My Tweets</h1>


<%= form_for Tweet.new do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_field :message, placeholder:"what needs doing?" %>
    <%= f.submit %>
  </div>
<% end %>

<ul>

  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.message %><br><br>
        <%= link_to "delete tweet", tweet_path(tweet), method: 'delete' %>
      </li>
    <% end %>
</ul>
  <% end %>


<a href='#'>Add a tweet</a>
